{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Панель керування розпізнаванням</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Gravitas+One&family=Indie+Flower&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'computer_vision/dashboard.css' %}">
</head>
<body>
    <div class="dashboard-container">
        <nav class="sidebar">
            <div class="logo">
                <h1>Vision AI</h1>
            </div>
           <ul>
                <li>
                    <a href="{% url 'computer_vision:image_rec' %}" 
                        class="{% if request.resolver_match.url_name == 'image_rec' %}active{% endif %}">
                        📸 Розпізнавання зображень
                    </a>
                </li>
                <li>
                    <a href="{% url 'computer_vision:video_rec' %}" 
                    class="{% if request.resolver_match.url_name == 'video_rec' %}active{% endif %}">
                    🎥 Відеоаналіз
                </a>
                </li>
                <li>
                    <a href="{% url 'computer_vision:audio_rec' %}" 
                    class="{% if request.resolver_match.url_name == 'audio_rec' %}active{% endif %}">
                    🎵 Аналіз звуку
                    </a>
                </li>
                <li>
                    <a href="{% url 'computer_vision:spectrum_rec' %}" 
                    class="{% if request.resolver_match.url_name == 'spectrum_rec' %}active{% endif %}">
                    📊 Спектральний аналіз
                    </a>
                </li>
                <li>
                    <a href="{% url 'computer_vision:speech_to_text' %}" 
                    class="{% if request.resolver_match.url_name == 'speech_to_text' %}active{% endif %}">
                        🎙️ Розпізнавання мовлення
                    </a>
                </li>
            </ul>
        </nav>

    <main class="content">
        {% block content %}
        {% endblock %}
    </main> 
    </div>
</body>
</html>