* { box-sizing: border-box; margin: 0; padding: 0; }

body {
    font-family: "Amatic SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #fcf8fa; 
    color: #333;
    font-size: 22px; 
}

.dashboard-container { display: flex; min-height: 100vh; }

/* Стилі Sidebar */
.sidebar { 
    width: 250px; 
    background-color: #854277; 
    color: white; 
    padding: 20px; 
    box-shadow: 2px 0 10px rgba(0,0,0,0.1);
}

.sidebar h1 { 
    margin-bottom: 30px; 
    text-align: center; 
    color: #ffdfef;
    font-size: 36px;
    letter-spacing: 2px;
}

.sidebar ul { list-style: none; }
.sidebar ul li { margin: 10px 0; }

.sidebar ul li a { 
    color: #ffdfef; 
    text-decoration: none; 
    font-size: 24px; 
    display: block; 
    padding: 12px; 
    border-radius: 8px; 
    transition: 0.3s; 
}


.sidebar ul li a:hover, 
.sidebar ul li a.active {
    background-color: #a35d96; 
    color: white; 
    transform: translateX(5px);
}

/* Стилі Контенту */
.content { flex-grow: 1; padding: 0; }

.top-bar { 
    background-color: white; 
    padding: 20px 40px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.05); 
    color: #854277;
}

.workspace { padding: 30px; }

/* Секція завантаження */
.upload-section { 
    margin: 20px 0; 
    padding: 30px; 
    background: #fff; 
    border-radius: 15px; 
    box-shadow: 0 4px 15px rgba(133, 66, 119, 0.1); 
    border: 1px solid #ffdfef;
    max-width: 650px;
}

.btn-primary {
    background-color: #854277;
    color: white;
    padding: 8px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 24px;
    font-family: "Amatic SC", sans-serif;
    transition: 0.3s;
    margin-top: 15px;
}

.btn-primary:hover { 
    background-color: #6d3562; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.btn-primary:disabled { background-color: #bdc3c7; cursor: not-allowed; }

/* Лоадер (Spinner) */
.spinner {
    width: 60px;
    height: 60px;
    border: 5px solid #ffdfef;
    border-top: 5px solid #854277;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

/* Результат */
.result-box {
    margin-top: 30px;
    padding: 25px;
    background-color: #fff0f6;
    border-left: 6px solid #854277;
    border-radius: 10px;
    color: #854277;
    max-width: 650px;
}

.result-text { font-size: 28px; font-weight: bold; }

.recognition-container {
    margin: 50px 20px 20px 20px;
}

.section-title {
    font-size: 44px;
}

.sub-title {
    font-size: 27px;
}